@import "../variables";
@import "../utils";

.euiFlexGroup--gutterLarge {
  margin: 0 !important;
}
.login-form {
  padding: 0.5rem;
  width: 380px;
  @include for-tablet {
    width: 100%;
  }
  .euiFormRow {
    .euiFormControlLayout--group .euiFormControlLayout__prepend.euiIcon {
      background-color: transparent !important;
    }
    .euiFormControlLayout--group {
      width: 100%;
      background-color: #16171c !important;
      color: $white;
      z-index: -1 !important;
    }
    .euiFormControlLayout__childrenWrapper input:focus-visible {
      outline: none !important;
    }
    .euiFormControlLayoutCustomIcon {
      border-radius: 5px 0 0 5px;
    }
    @include for-tablet {
      max-width: 100% !important;
    }
  }
  button[type="submit"] {
    width: 100%;
    margin-top: 2rem;
  }
}

.forgot-password {
  &:hover {
    text-decoration: underline !important;
  }
}
.or {
  width: 100%;
  display: flex;
  position: relative;
  text-align: center;
  margin: 1rem 0;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $divider-color;
    top: 50%;
    transform: translateY(-50%);
  }
  p {
    width: fit-content;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: $bg-dark;
    position: relative;
    z-index: 2;
    color: $text;
  }
}
.euiFlexItem {
  margin: 12px 7px !important;
  &:first-child {
    margin-left: 0 !important;
  }
  &:last-child {
    margin-right: 0 !important;
  }
}
.euiButton {
  .euiButton__text {
    display: flex;
    align-items: center;
    img {
      margin-right: 0.3rem;
    }
  }
}
