.euiFlexGroup--gutterLarge {
  margin: 0 !important;
}

.login-form {
  padding: 0.5rem;
  width: 380px;
}

@media screen and (max-width: 1024px) {
  .login-form {
    width: 100%;
  }
}

.login-form .euiFormRow .euiFormControlLayout--group .euiFormControlLayout__prepend.euiIcon {
  background-color: transparent !important;
}

.login-form .euiFormRow .euiFormControlLayout--group {
  width: 100%;
  background-color: #16171c !important;
  color: #fff;
  z-index: -1 !important;
}

.login-form .euiFormRow .euiFormControlLayout__childrenWrapper input:focus-visible {
  outline: none !important;
}

.login-form .euiFormRow .euiFormControlLayoutCustomIcon {
  border-radius: 5px 0 0 5px;
}

@media screen and (max-width: 1024px) {
  .login-form .euiFormRow {
    max-width: 100% !important;
  }
}

.login-form button[type="submit"] {
  width: 100%;
  margin-top: 2rem;
}

.forgot-password:hover {
  text-decoration: underline !important;
}

.or {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  margin: 1rem 0;
}

.or:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d3dae6;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.or p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #1d1e24;
  position: relative;
  z-index: 2;
  color: #69707c;
}

.euiFlexItem {
  margin: 12px 7px !important;
}

.euiFlexItem:first-child {
  margin-left: 0 !important;
}

.euiFlexItem:last-child {
  margin-right: 0 !important;
}

.euiButton .euiButton__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.euiButton .euiButton__text img {
  margin-right: 0.3rem;
}
/*# sourceMappingURL=App.css.map */