@import './variables';
@import './utils';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-dark;
  width: 100%;
  min-height: 100vh;
}
.euiImage.logo {
  display: flex;
  align-items: center;
  justify-content: center !important;
}
